<!--Include Header-->
<%- include("includes/_header") %>
<!--/Include Header-->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav">
      <a href="/" class="btn btn-secondary btn-sm"> <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> All User </a>
    </div>

    <div class="text-center">
      <h2 class="text-dark">Edit User</h2>
      <span class="text-muted">Use form below to edit users data.</span>
    </div>

    <!-- Form Handling-->
    <div class="form">
      <form id="update_user" class="justify-content-center inline">
        <input type="hidden" name="userId" id="userId" value="<%= users._id %>" />
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" value="<%= users.name %>" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" value="<%= users.email %>" />
        </div>
        <div class="mb-3">
          <label for="umur" class="form-label">Umur</label><br />
          <input type="number" class="form-control" id="umur" name="umur" value="<%= users.umur %>" />
        </div>

        <button type="submit" class="btn btn-success col-md-12 btn-sm"><i class="fas fa-save"> </i> Save</button>
      </form>
    </div>
    <!-- /Form Handling-->
  </div>
</main>
<!-- /Main Site-->

<!--Include Footer-->
<%- include('includes/_footer') %>
<!--/Include Footer-->
